* {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 80px;
    background: url("/img/bg.jpeg") no-repeat top center;
    background-color: black;
}

a {
    text-decoration: none;
}

footer {
    color: aliceblue;
}

#log h1 {
    text-align: center;
    font-family: 'Nova Square', cursive;
    font-size: 4em;
    color: aliceblue;
}

.logs {
    background: #00252d ;
    padding: 20px;
    top: 0;
    right:10;
    position: absolute;
    border-radius: 0 0 20px 20px;
}

.logs a {
    width: 100px;
    color: aliceblue;
    font-size: 1.1em;
}

.container {
    display: flex;
    justify-content: center;
}

.s-container {
    position: relative;
    background-color: rgba(255, 255, 255, .8);
    padding: 30px;
    width: 97%;
    height: 400px;
}

.match {
     text-align: center;   
}

.match .m {
    line-height: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 10px;
    height: 100px;   
    width: 100%;
    transition: all .2s;
}

.match .m:hover {
   background-color: rgba(255, 255, 255, .9);
}

.match a{
    font-size: 2.3em;
    color: black;
}

.form_race {
     font-size: 2em;;
}

select {
    padding:3px;
    margin: 0;
    font-size: 2em;
    background: #f8f8f8;
    color:#888;
    border:none;
/*    -webkit-appearance:none;*/
    cursor:pointer;  
}

#pseudo {
    padding-left: 10px;
    padding-right: 10px;
    color: #888;
    background: rgba(255,255,255,0.3);
    border:none;
    font-size: 1em;
    height: 40px;
    width:220px;
}

#valider {
    font-size: 1.7em;
    background: rgba(0,0,0,0);
    border: none;
    padding: 30px;
    width:400px;
    position: absolute;
    bottom: 0;
    right:70;
    color: #888;
    border: solid #888 7px;

}

#valider:hover {
     border: solid #285f73  7px;
    color: #285f73 ;
}








.Row {
   border:1px solid black;
    background-color: blue;
    width:11px;
    height: 11px;
    display: table-row;
}

.Ship_Ork {
   border:1px solid black;
   background-color: red;
   width:11px;
   height: 11px;
   display: table-row;
}

.Ship_Imperial {
   border:1px solid black;
   background-color: green;
   width:11px;
   height: 11px;
   display: table-row;
}

.Cell {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}

.map {
    border:1px solid black;
    background-color: blue;
    display: block;
}

.Table {
    display: table;
}

.Title {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.Heading {
    display: table-row;
    font-weight: bold;
    text-align: center;
}

.Row {
    border:1px solid black;
    background-color: blue;
    display: table-row;
}


